$black: #363a3b;
$white: #f5f5f5;
$grey: #e8e8e8;
$darkgrey: darken($grey, 20%);
$darkergrey: darken($grey, 50%);
$red: #F22E2E;
$green: green;
$blue: #2265AF;
$orange: orange;

///

$body_background_color: $white;
$body_background_image: none;

$headline-font: 'hl', helvetica, sans-serif;
$headline-weight: 700;

$body-font: 'bd', Arial, Helvetica, sans-serif;
$body-weight: 300;
$body-text-color: $black;

$navheight: 3em;
$maxwide: 2500px;
$topbottom: 5em;
